PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/marketmind
JWT_SECRET=change-me
FRONTEND_ORIGIN=http://localhost:5173
OPENAI_API_KEY=
FINNHUB_API_KEY=d91n9d1r01qnefofr530d91n9d1r01qnefofr53g
